z<h1>Platform Admin Dashboard</h1>

<% if @businesses.count > 0 %>
<ul>
    <% @businesses.each do |business| %>
  <li id=<%= business.slug %> >
       <h3><%= link_to business.name, edit_business_path(business.slug)%></h3>
       <h4><%= link_to business.description, edit_business_path(business.slug) %></h4>
       Status: <%= business.status %>
       <% if business.active %>
         <%= link_to "Deactivate", platform_admin_deactivate_path(slug: business.slug), class: "deactivate" %>
       <% else %>
         <%= link_to "Activate", platform_admin_activate_path(slug: business.slug), class: "activate" %>
       <% end %>
  </li>
  <% end %>
</ul>
<% end %>
