<h2>Edit Business Information</h2>
<%= form_for(@business, url: business_update_path(@business.slug)) do |f| %>
  <%= f.label :name, "Business Name" %><br />
  <%= f.text_field :name, placeholder: :name %><br /><br />
  <%= f.label :description, "Description" %><br />
  <%= f.text_area :description, placeholder: :description, size: "20x4"  %><br /><br />
  <%= f.submit "Update", method: :patch  %>
<% end  %>
