<div class="well well-sm">
  <%= form_for(@business) do |f| %>
    <%= f.label :name, "Business Name" %>
    <%= f.text_field :name, placeholder: "Enter Business Name", class: "form-control" %>

    <%= f.label :description, "Description" %>
    <%= f.text_field :description, placeholder: "Enter Business Description", class: "form-control" %>

    <%= f.submit "Create Business", class: "btn btn-default btn-block" %>
  <% end %>
</div>
