<table class="table" id="open_auction">
  <caption>Open Auctions</caption>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Current High Bid</th>
    <th>Current High Bidder</th>
    <th>Auction End Date</th>
  </tr>
  <% @user.open_items.each do |item| %>
  <tr>
    <td><img src="<%= item.image %>" class="img-thumbnail" id="cart-thumb"></img></td>
    <td><%= link_to item.name, item_path(item)%> </td>
    <td>$<%= item.high_bid%> </td>
    <td><%= item.high_bidder.username%> </td>
    <td><%= format_datetime.(item.end_time)%> </td>
  </tr>
  <% end %>
</table>
