<h2> Welcome, <%= @user.name %></h2>
<%= link_to "Update Personal Account Information", user_edit_path(id: @user.id) %><br />
<%= link_to "Create New Business", new_business_path %>

<% if @user.items.any? %>
  <%= render partial: 'auction_buttons' %>
  <%= render partial: 'open_auction_table' %>
  <%= render partial: 'won_auction_table' %>
  <%= render partial: 'lost_auction_table' %>
<% else %>
  <p> No auction information yet! </p>
<% end %>
