<table class="table" id="open_auction">
  <caption>Open Auctions</caption>
  <tr>
    <th></th>
    <th>Item</th>
    <th>Item ID</th>
    <th>Current High Bid</th>
    <th>Current High Bidder</th>
    <th>Auction End Date</th>
    <th></th>
  </tr>
  <% order_items_by_id(@business.open_items).each do |item| %>
  <tr>
    <td><img src="<%= item.image %>" class="img-thumbnail" id="cart-thumb"></img></td>
    <td><%= link_to item.name, item_path(item)%> </td>
    <td><%= item.id %> </td>
    <td>$<%= item.high_bid%> </td>
    <td><%= format_bidder(item.high_bidder)%> </td>
    <td><%= item.end_time%> </td>
    <td> <%= link_to "Update", edit_business_item_path(@business.slug, item) %></td>
  </tr>
  <% end %>
</table>
