<div class="business_header">
<h2> <%= @business.name %> Dashboard</h2>
</div>
<% if platform_admin? || @business.admins.include?(current_user) %>
  <%= link_to "Update Business Information", business_edit_path(@business.slug) %>
<% end %>
<%= render partial: "auction_buttons" %>

<div class="business_items">
  <% if @business.active? %>

    <% if @business.items.exists? %>
      <%= render partial: 'open_auctions_table' %>
      <%= render partial: 'closed_auctions_table' %>
    <% else  %>
      <p>There are no items for this business yet.</p>
    <% end  %>
  <% else %>
    <p id="pending_notice">This business is pending approval.</p>
  <% end %>
</div>
