<div class="row">
  <div class="col-md-4" id="item_image">
    <img src="<%= @item.image %>" alt="<%= @item.name %>" class="img-thumbnail"/>
  </div>

  <div class="col-md-8" id="item_details">
    <h2><%= @item.name %></h2>
    <p><%= @item.description %></p>
    <h5>$<%= @item.price %></h5>

    <h5>Bid End Time<%= @item.end_time.strftime("%b %e, %l:%M %p %Z")%></h5>
    <div id="clockdiv">
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>

    <p> <%= Time.now.strftime("%b %e, %l:%M %p %Z")%></p>
    
    <% if @item.open?  %>
      <% if @item.high_bid == 0.00 %>
      <p>
        No current bids
      </p>
      <% else %>
        Highest Bid: <%= number_to_currency(@item.high_bid) %><br>
        Highest Bidder: <%= format_bidder(@item.high_bidder) %>
      <% end %>
      <%= render partial: "new_bid", locals: {item: @item}%>
    <% else %>
      <p>
      This item's auction has ended!
      </p>
    <% end  %>
    <div> <%= link_to "Browse more items from #{@item.business.name}", business_path(@item.business.slug) %> </div>
  </div>
</div>

<script type="text/javascript">
  var item_end_date = <%= @item.end_time.to_f * 1000 %>
  var deadline = new Date(item_end_date);
  initializeClock('clockdiv', deadline)
</script>


