<div class="page-header">
  <h1> <%= @item.name %> <small><%= @item.description %></small></h1>
</div>

<div>
  <div class="col-md-4" >
      <img src="<%= @item.image %>" alt="<%= @item.name %>" class="img-thumbnail"/>
  </div>

  <div class="col-md-4" id="item_details">

    <h5>Starting Price: <%= number_to_currency(@item.price) %></h5>
    <h5>Auction End Time: <%= @item.end_time.strftime("%b %e, %l:%M %p %Z")%></h5>

    <% if @item.open? %>
      <% if @item.has_bids? %>
        <%= render partial: "auction_with_bids", locals: {item: @item} %>
        <%= render partial: "new_bid", locals: {item: @item} %>
      <% else %>
        <%= render partial: "auction_without_bids", locals: {item: @item} %>
        <%= render partial: "new_bid", locals: {item: @item} %>
      <% end %>
    <% else %>
      <div class="alert alert-warning" role="alert">
        <p>This item's auction has ended!</p>
        <%= link_to "Browse more items from #{@item.business.name}", business_path(slug: @item.business.slug), class: "alert-link" %>
      </div>
    <% end  %>
  </div>

  <div class="col-md-4" id="clock-container">
    <% if @item.open? %>
      <%= render partial: "countdown", locals: {item: @item} %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  var item_end_date = <%= @item.end_time.to_f * 1000 %>
  var deadline = new Date(item_end_date);
  initializeClock('clockdiv', deadline)
</script>
